switchport default mode routed
!
transceiver qsfp default-mode 4x10G
!
hostname {{ hostname }}
ip name-server vrf default {{ dns_ip }}
!
spanning-tree mode mstp
!
aaa authentication policy on-success log
aaa authentication policy on-failure log
!
no aaa root
!
username {{ user }} secret {{ password }}
!
interface Ethernet1
   no switchport
   ip address dhcp
   dhcp client accept default-route
!
interface Ethernet2
   no switchport
!
ip routing
!
management ssh
   client-alive interval 180
!
int loop 20
ip address 2.2.2.7/24
!
int loop 30
ip address 3.3.3.3/24
!
!
int loop 40
ip address 4.4.4.1/24
!
